* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 56px);
    outline: none;
    border-radius: 20px;
    border: 2px solid rgb(82, 87, 91);
    padding: 5px;



}

input {
    display: grid;
    grid-column: span 4;
    height: 30px;
    border-radius: 50px;
    padding: 10px;
    text-align: end;
    margin-top: 10px;
    margin-bottom: 15px;
}

button {
    height: 30px;
    width:30px;
    margin: 3px;
    border-radius:80px;
    background: transparent;
    font-size: 15px;
}
.btn{
    width: 100%;
   display: grid;
   grid-column: span 2;
   

}
button:hover{
    color:rgb(239, 12, 159)
}